header.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 70px;
  padding: 0;
  margin: 0;
}

header.main nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px
}

header.main nav a {
  padding: 30px 15px;
  transition: all 300ms ease-in-out;
  border-radius: 8px;
}

header.main nav a:hover {
  background-color: beige;
}
.profile-image-container {
  width: 40px;
  height: 40px;
  border-radius: 50%; /* Crée un cercle parfait */
  overflow: hidden; /* Masque toute partie de l'image en dehors du cercle */
}

.profile-image {
  width: 100%;
  height: auto;
}